.gameover_container{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    inset: 0;
    background-color: rgba(0,0,0,0.6);
}

.gameover_dialog {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    border-radius: 8px;
}

.gameover_dialog button {
    background-color: transparent;
    border: 1px solid blue;
    color: blue;
    font-weight: 700;
    outline: none;
    border-radius: 3px;
    font-size: 1.2rem;
    padding: 5px 10px;
}

.gameover_dialog button:hover {
    outline: 1px solid yellow;
}