.score_field {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 60px;
    box-sizing: border-box;
    margin: 4px 4px 4px 2px;
    border-radius: 3px;
    border: 1px solid gray;
    outline: none;
    background-color: white;
}